*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.padre{
display: flex;
flex-flow: column nowrap;
}
.marge-interno{
    padding: 0 50px;
}
.header{
background: url(/Images/tec4.jpg);
background-position: center;
background-attachment: contain;
background-size: cover;
display: flex;
flex-flow: column nowrap;

}
    .menu{
        background: rgba(0,0,0,.1);
        display: flex;
        flex-flow: nowrap;
        height: 60px;
        align-items: center;
        text-size-adjust: 30%;
        border-bottom: 1px solid rgba(255, 255 , 255,.5);
    }
        .logo{
            flex:1 1 auto;
        }
            .logo a {
                color: #ffffff;
                font-size: 30px;
                font-weight: 600;
                /*-webkit-text-stroke: 0.5px rgb(110, 110, 138);*/ 
            }
            .logo a:hover{
                color: #032a6c;
            }
        .nav{
            flex:5 1 auto;
        }
            .nav a {
                color: #ffffff;
                font-size: 14px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 4px;
            }
            .nav a:hover{
                color: #032a6c;
            }
        .social{
            flex:1 1 auto;
            display: flex;
        }
            .social a{
                font-size: 18px;
                color: #ffffff;
                padding: 0 5px;
            }
            .social a:hover{
                color: #032a6c;
            }
    .texto-principal{
        height: 550px;
        display: flex;
        align-items: center;
        -webkit-text-stroke: 1px #ffffff;
        font-style: italic;
    }
        .nombrep{
            color: #ffffff;
            position: relative;
            left: 30px;
            top: 55px;
            font-size: 70px;
            margin: 0%;
            padding: 0%;
            text-decoration: line-through;
            transform: scaleY(0.8);
        }
        h1{
            font-family: 'lora', serif;
            font-size: 21px;
            color: #fff;
            font-weight: 300;
            text-align: center;
            line-height: 1.6;
        }
        .email{
            position: relative;
            left: 90px;
            bottom: 210px;
            width: 325px;
            height: 45px;
            border: 2px solid #9ce9fa;
            border-radius: 5px;
            padding: 10px;
            background: #0236507b;
            color: #fff;
            font-size: 16px;
        }
        .button{
            position: relative;
            left: 90px;
            bottom: 210px;
            margin-left: 10px;
            padding: 10px 20px;
            background:#1a77aa;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }
            .button:hover{
                color: #020f1b;
                border: 2px solid #004b5a;
            }
    .text-email{
        position: relative;
        left: 90px;
        bottom: 200px;
        color: #fff;
    }
    
.section{
    background: rgb(1, 51, 74);
    display: flex;
}
    .articulos{
        background: rgb(1, 51, 74);
        flex:2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .article{
            flex:1 1 40%;
            color: #ffffff;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 10px 10px  0 0px;
            flex: 1 1 45%;
            background: #031a2f;
        }
        .article img{
            width: 100%;
        }
        article a{
            color: #fff;
            font-size: 13px;
            padding: 10px;
            background: #000;
            margin: 10px 0;
            display: inline-block;
        }
        article a:hover{
            background: #032a6c
        }
        h3{
            color: #fff;
            font-size: 13px;
            padding: 10px 0;
            margin-top: -80px;
        }
        h2{
            font-size: 25px;
            text-transform: uppercase;
            padding: 0px 0 10px;
            color: #fff;
        }
        .navegacion{
            background: #000000;
            flex:1 1 100%;
            margin: 10px 10px 0 0px;
        }
        .navegacion a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
    .aside{
        /*background: #0C134F; */
        flex:1 1 auto;
        margin: 10px 5px 10px 0;
    }
    .aside img{
        width: 100%;
    }
    h4{
        background: #071d32;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
    }
        .publicidad{
            /*background: #1D267D;*/
        }
.footer{
    background: rgb(1, 51, 74);;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
    .pie{
        /*background: #0C134F;*/
        text-align: center;
    }
    .pie a {
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
    }
@media all and (max-width: 1000px ) {
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 15px;
    }
    .texto-principal{
        height: 450px;
    }
    .email{
        position: relative;
        left: 100px;
        bottom: 150px;
        width: 300px;
        height: 35px;
    }
    .text-email{
        position: relative;
        left: 101px;
        bottom: 142px;
        color: #fff;
        font-size: 15px;
    }
    .button{
        position: relative;
        left: 90px;
        bottom: 150px;
        margin-left: 10px;
        padding: 8px 16px;
        background:#5b91b1;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
@media all and (max-width: 750px) {
    .articulos{
        flex-direction: column;
    }
@media all and (max-width: 723px){
    .off{
        display: none;
    } 
    .nav a{
        font-size: 25px;
    }
    }
    .email{
        position: relative;
        left: 65px;
        bottom: 150px;
        width: 250px;
        height: 33px;
    }
    .text-email{
        position: relative;
        left: 48px;
        bottom: 142px;
        color: #fff;
        font-size: 13px;
    }
    .button{
        position: relative;
        left: 57px;
        bottom: 150px;
        margin-left: 10px;
        padding: 7px 11px;
        background:#5b91b1;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
    @media all and (max-width: 458px){
        .text-email{
            position: relative;
            left: 12px;
            bottom: 145px;
            color: #fff;
            font-size: 12px;
        }
    }
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
    .email{
        position: relative;
        left: 20px;
        bottom: 115px;
        width: 180px;
        height: 28px;
    }
    .text-email{
        position: relative;
        left: 12px;
        bottom: 113px;
        color: #fff;
        font-size: 12px;
    }
    .button{
        position: relative;
        left: 10px;
        bottom: 115px;
        margin-left: 10px;
        padding: 4px 10px;
        background:#5b91b1;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
    .texto-principal{
        position: relative;
        bottom: 30px;
        height: 380px;
    }
}
}}